# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
*.log

#outher files
.sync.ffs_db
sync.ffs_lock
memory_log.log
models/__pycache__
echo "*.keras" >> .gitignore
echo "*.log" >> .gitignore


# Arquivos temporários
*.tmp
*.swp

#BD
BD