# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
*.log

#outher files
.sync.ffs_db
sync.ffs_lock
memory_log.log
models/__pycache__
echo "*.keras" >> .gitignore
echo "*.log" >> .gitignore


# Arquivos temporários
*.tmp
*.swp

#BD
BD

#Results
results/phase1/reports_cr/0_MobileNet_sem_BI_5/models
results/phase1/reports_cr/1_DenseNet201_sem_BI_5/models
results/phase1/reports_cr/2_InceptionV3_sem_BI_5/models